
/* .main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
  } */

/* logo (HOME) */
.skin-red .main-header .logo {
background-color: #d73a26;
}

/* logo (HOME) when hovered */
.skin-red .main-header .logo:hover {
background-color: #d73a26;;
}

/* navbar (rest of the header) */
.skin-red .main-header .navbar {
background-color: #de4b39;
}

/* main sidebar */
.skin-red .main-sidebar {
background-color: #222d33;
}

/* active selected tab in the sidebarmenu */
.skin-red .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #1e282c;
}

/* other links in the sidebarmenu */
.skin-red .main-sidebar .sidebar .sidebar-menu a{
background-color: #222d33;
color: white;
}

/* other links in the sidebarmenu when hovered */
.skin-red .main-sidebar .sidebar .sidebar-menu a:hover{
background-color: #1e282c;
}
/* toggle button when hovered  */
.skin-red .main-header .navbar .sidebar-toggle:hover{
background-color: #d73a26;;
}

/* .skin-red .sidebar .nav-item .nav-link.active {
  background-color: red !important;
} */

/* body */
.content-wrapper, .right-side {
background-color: white;
}

#plot1_container {
width: 600px; height: 400px; overflow: auto;
}

#plot2_container {
width: 800px; height: 400px; overflow: auto;
}

#upload_file_container {
margin: -10px 5px 0px 20px; width: 250px; height: 60px;
}

#sidebar_selection_container {
  margin: 0px 5px 0px 20px; width: 250px; /* height: 80px; */
}

.content-wrapper, .right-side {
  background-color: white;
  overflow: auto;
}
